<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- <head th:include="layout :: head"></head> -->
<body>
    <!-- <nav th:replace="layout :: menu"></nav> -->
    <main class="container">
        
        <a href="/entregas/novo" class="btn btn-primary">Novo</a>
        <table class="table" id="tabentregas">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umaEntrega : ${listaEntregas}">
                    <td th:text="${umaEntrega.id}"></td>
                    <td th:text="${umaEntrega.data}"></td>
                    <td th:text="${umaEntrega.endereco}"></td>
                </tr>
            </tbody>
        </table>
    </main>

    <!-- <footer th:include="layout :: footer"></footer> -->
</body>
</html>