<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="style.css">
    </head>

<body>
    <nav class="container">
        <ul>
            <li>
                <a href="/home" >Home</a>
            </li>
            <li>
                <a href="/clientes">Clientes</a>
            </li>
            <li>
                <a href="/entregas">Entregas</a>
            </li>
            <li>
                <a href="/fornecedores">Fornecedores</a>
            </li>
            <li>
                <a href="/produtos">Produtos</a>
            </li>
            <li>
                <a href="/listacompras">Lista de Compras</a>
            </li>
        </ul>>
        
        <a href="/listacompras/novo" class="btn btn-primary">Nova Lista de Compras</a>
        <table class="table" id="tablistacompras">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umaListaCompra : ${listacompras}">
                    <td th:text="${umaListaCompra.id}"></td>
                    <td th:text="${umaListaCompra.nome}"></td>
                </tr>
            </tbody>
        </table>
    </nav>

    <footer class="rodape">
        <p>
            <i class="fab fa-instagram"aria-hidden="true"></i>
            <a>Bryan Rode</a>
        </p>
        <p>
            <i class="fab fa-linkedin"aria-hidden="true"></i>
            <a>Bryan Rode</a>
        </p>
        <p>
            <i class="fa fa-envelope"aria-hidden="true"></i>
            <a>bryan.rode@univille.br</a>
        </p>
    </footer>
</body>
</html>