<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styletabela.css">
</head>

<body>
    <nav class="container">
        <ul>
            <li>
                <a href="/home" >Home <i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="/clientes">Clientes</a>
            </li>
            <!-- <li>
                <a href="/entregas">Entregas</a>
            </li> -->
            <li>
                <a href="/fornecedores">Fornecedores</a>
            </li>
            <li>
                <a href="/produtos">Produtos</a>
            </li>
            <!-- <li>
                <a href="/listacompras">Lista de Compras</a>
            </li> -->
        </ul>>
        
        <a href="/clientes/novo" class="btn btn-primary">Cadastrar Clientes</a>
        <h1 class="titulo">Tabela de Clientes</h1>
        <table class="table" id="tabclientes">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umCliente : ${listaCientes}">
                    <td th:text="${umCliente.id}"></td>
                    <td th:text="${umCliente.nome}"></td>
                    <td th:text="${umCliente.telefone}"></td>
                </tr>
            </tbody>
        </table>
        
    </nav>

    <footer class="rodape">
        <p>
            <i class="fab fa-instagram"aria-hidden="true"></i>
            <a>Bryan Rode</a>
        </p>
        <p>
            <i class="fab fa-linkedin"aria-hidden="true"></i>
            <a>Bryan Rode</a>
        </p>
        <p>
            <i class="fa fa-envelope"aria-hidden="true"></i>
            <a>bryan.rode@univille.br</a>
        </p>
    </footer>

</body>
</html>