<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- <head th:include="layout :: head"></head> -->
<body>
    <!-- <nav th:replace="layout :: menu"></nav> -->
    <main class="container">
        
        <a href="/clientes/novo" class="btn btn-primary">Novo</a>
        <table class="table" id="tabclienes">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umCliente : ${listaCientes}">
                    <td th:text="${umCliente.id}"></td>
                    <td th:text="${umCliente.nome}"></td>
                    <td th:text="${umCliente.telefone}"></td>
                </tr>
            </tbody>
        </table>
    </main>

    <!-- <footer th:include="layout :: footer"></footer> -->
</body>
</html>